.add-item-form {
  padding: 5%;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 1.25em;
  background-color: #F8F8F8;
  margin: 40px auto;
}

h2 {
  text-align: center;
}

.add-item-form label {
  font-weight: bold;
}

.add-item-form input {
  width: 100%;
  margin-bottom: 10px;
}

.add-item-form select {
  width: 100%;
  margin-bottom: 10px;
}

.highlight {
  display: inline;
}

.button-container {
  margin-bottom: 10px;
  text-align: center;
}
