.signup {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 1% 5%;
}

.signup h2 {
  margin-bottom: 20px;
}