.no-notes {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.no-notes-icon {
  margin-bottom: 30px;
}

.no-notes-content {
  margin-bottom: 30px;
}
