.login,
.signup {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 450px;
}

.login h2,
.signup h2 {
  margin: 20px 0 30px 0;
}

.login-header {
  margin: 0 auto 20px auto;
  padding: 3% 5%;
}

.login-header h1 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800px;
}

.login-header a {
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.login-header p {
  font-size: 18px;
}

.form-container {
  display: block;
  text-align: left;
  border: 1px solid #0069ed;
  border-radius: 8px;
  padding: 5%;
  background-color: #0069ed;
  color: #fff;
}

input {
  display: block;
  width: 100%;
  margin: 3px 0 10px 0;
  padding: 8px;
  border: 1px solid #0069ed;
  border-radius: 4px;
}

.login button,
.signup button {
  display: block;
  text-align: center;
  margin: 20px auto;
  border-radius: 8px;
  background-color: #fff;
  color: #0053ba;
}

button:hover,
button:focus {
  color: #fff;
}

.auth {
  margin-bottom: 10px;
}

@media only screen and (max-width: 320px) {
  .login-header p {
    font-size: 16px;
  }

  .login-header h1 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) {
  .login, .signup {
    width: 450px;
  }
} 