.folder {
  display: flex;
  padding: 8% 5%;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.folder span {
  padding-top: 2.75px;
}

.folder:hover,
.folder:focus,
.folder:active {
  background: #0053ba;
}

.folder-icon {
  width: 50px;
  margin: 0 10px;
}

.folder-text {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .folder {
    height: 50px;
  }
}