.folder-list-nav {
  display: block;
  /* how to get style to extend the length of the content? */
  height: 100vh;
  text-align: left;
  max-width: 30%;
  width: 250px;
  padding-top: 50px;
  background-color: #0069ed;
  color: #fff;
}

.active {
  color: blue;
}

@media only screen and (max-width: 600px) {
  .folder-list-nav {
    max-width: 50px;
  }

  .folder span {
    display: none;
  }

}