ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.folder-list-nav {
  display: block;
  text-align: left;
  max-width: 30%;
  width: 250px;
}

.active {
  color: blue;
}

@media only screen and (max-width: 600px) {
  .folder-list-nav {
    width: 50px; 
  }

  .folder span {
    display: none; 
  }

}