.folder-list-nav {
  display: block;
  /* how to get style to extend the length of the content? */
  height: 100vh;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  text-align: left;
  max-width: 30%;
  width: 250px;
  padding-top: 60px;
  background-color: #0069ed;
  color: #fff;
}

.folder-list-nav a:visited {
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .folder-list-nav {
    max-width: 50px;
  }

  .folder span {
    display: none;
  }
}