.Topnav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #F5F5F5;
}

.Topnav h1 {
  font-size: 28px;
  margin: 0 20px;
}

a {
  text-decoration: none;
}

.Topnav nav a {
  margin-right: 20px;
}