.Topnav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #0069ed;
  color: #fff;
}

.Topnav h1 {
  font-size: 28px;
  margin: 0 20px;
  font-weight: 600;
}

.Topnav a {
  color: #fff;
}

.Topnav a:hover, .Topnav a:focus, .Topnav a:active {
  border-bottom: 3px solid #ed8400;
  transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.Topnav nav a {
  font-family: 'Manjari';
  margin-right: 20px;
}