.notelist-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.notelist-header h2 {
  font-size: 22px;
  font-weight: 600;
}

.notes-content {
  display: flex;
  width: 100%;
}

.notelist {
  width: 100%;
  /* max-width: 500px; */
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sort-results-form {
  text-align: center;
}

.sort-results {
  width: 49.5%;
  height: 3em;
}

.sort-results-form button:nth-child(1) {
  margin-right: 1%;
}