.App {
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  display: flex;
  align-content: center;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  min-height: 90vh;
  padding: 0 20px;
  position: relative;
}


