h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h1, h2 {
  margin: 0;
}

a, input, select, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* max-width: 1200px; */
  margin: 0 auto;
}

main {
  display: flex; 
  justify-content: center;
}

